
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 30px;
}

body .bg {
    background: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.486)),url(./ITU.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
}
body .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

body .bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.486)), url(./ITU.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateZ(0);
    z-index: -1;
}

h1 {
    align-items: center;
    margin: auto;
    max-width: 400px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: 5px solid #333;
    border-radius: 10px;
}

h3{
    align-items: center;
    margin:20px auto;
    padding: 5px 0;
    max-width: 400px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: 5px solid #333;
    border-radius: 10px;
    display: none;
}

form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

select {
    width: 49%;
    padding: 5px;
    margin-bottom: 10px;
}

button,
input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover,
input[type="submit"]:hover {
    background-color: #555;
}

.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#addCourse,
#removeCourse {
    width: 49%;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}
